ftbl/*
test/*
snipets/*
*.log
*.err
*.RData
*.Rhistory
*.pyc
*.pdf
*.aux
*.dvi
*.out
*.tex
.R*
*Tmp
*.save
test_cases/cases/*
test_cases/*.log*
test_cases/*.err*
influx_si.egg-info/*
influx_si/doc/_build/*
influx_si/doc/_static/*
influx_si/doc/_static/*
influx_si/test.old/*
influx_i-2012/*
*.bck
*~
matrid/*_
*.so
*.o
*.Rc
py2/*
doc/*.aux
doc/*.dvi
doc/*.out
doc/*.tex
doc/spellTmp
icons/*
__pycache__/*
mult_bxxc.txt
tmp/*
build/*
dist/*
howto_release.txt
