ftbl/*
test/*
snipets/*
*.log
*.err
*.RData
*.Rhistory
*.pyc
*.pdf
cases/*
doc/_build/*
influx_i-2012/*
*.bck
*~
matrid/*
*.so
*.o
*.Rc
py2/*
doc/*.aux
doc/*.dvi
doc/*.out
doc/*.tex
doc/spellTmp
icons/*

